<div class="menu-completo">
  <!--- container de informação para aluno --->
      <div id="section03">
        <section class="mensagem">
          <div class="container-fluid">
            <div class="section-data">
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2 section-video wow fadeInUp" data-wow-delay="0.3s">Para você aluno</div>
                <div class="col-md-8 section-titulo wow fadeInUp" data-wow-delay="0.4s">Seu Mundo</div>
              </div>
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-6 section-subtitulo wow fadeInUp" data-wow-delay="0.5s"><h1>Projetos e cursos onlines para você aproveitar cada tempo gasto aqui.</h1></div>
              </div>
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-6 section-informacao wow fadeInUp" data-wow-delay="0.6s">Aproveite ao maximo, qualquer duvida estaremos a disposição para resolvelas.</div>
              </div>
              <div class="row">
              <div class="col-md-4"></div>
                <span class="input-group-btn">
                    <button class="btnPrim" type="submit">Pedir ajudar</button>
                </span>
              </div>
            </div>
          </div>
        </section>
     </div>
      <!--- Sala de projetos --->
     <div id="section02">
          <section class="project">
          <div class="container-fluid">
           <div class="row">
             <div class="col-md-8 section-titulo wow fadeInUp" data-wow-delay="0.4s">Projetos disponiveis</div>
           </div> 
           <div class="row salas">
             <div class="col-md-3 wow fadeInUp" data-wow-delay="0.5s">
              <div class="project-salas">
                <div class="project-img project-one"></div> <!--imagem -->
              </div>
              <div class="project-title-um">
                <h5>Sistema de banco de dados</h5>
                <span class="input-group-btn">
                    <button class="btn2" type="submit">vizualizar</button>
                </span>
              </div>
             </div>
             <div class="col-md-3 wow fadeInUp" data-wow-delay="0.5s">
                <div class="project-salas">
                  <div class="project-img project-two"></div> <!--imagem -->
                </div>
                <div class="project-title-dois">
                  <h5>Desenvolvimento de APP</h5>
                  <span class="input-group-btn">
                    <button class="btn2" type="submit">vizualizar</button>
                  </span>
                </div>
             </div>
              <div class="col-md-3 wow fadeInUp" data-wow-delay="0.5s">
                <div class="project-salas">
                  <div class="project-img project-tre"></div> <!--imagem -->
                </div>
                <div class="project-title-tres">
                  <h5>Desenvolvimento web</h5>
                  <span class="input-group-btn">
                    <button class="btn2" type="submit">vizualizar</button>
                  </span>
                </div>
              </div>
              <div class="col-md-3 wow fadeInUp" data-wow-delay="0.5s">
                <div class="project-salas">
                  <div class="project-img project-for"></div> <!--imagem -->
                </div>
                <div class="project-title-quatro">
                  <h5>Desenvolvimento de jogos</h5>
                  <span class="input-group-btn">
                    <button class="btn2" type="submit">vizualizar</button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          </section>
     </div>
     <!-- Sala de cursos -->
     <div id="section03">
         <section class="cursos">
          <div class="container-fluid">
           <div class="row">
             <div class="col-md-8 section-titulo wow fadeInUp" data-wow-delay="0.4s">Cursos disponiveis</div>
           </div> 
           <div class="row curso">
             <div class="col-md-3 wow fadeInUp" data-wow-delay="0.5s">
              <div class="cursos-curso">
                <div class="cursos-img cursos-one"></div> <!--imagem -->
              </div>
              <div class="cursos-title-primeiro">
                <h5>Curso de Rede</h5>
                <span class="input-group-btn">
                    <button class="btn1" type="submit">vizualizar</button>
                </span>
              </div>
             </div>
             <div class="col-md-3 wow fadeInUp" data-wow-delay="0.5s">
               <div class="cursos-curso">
                 <div class="cursos-img cursos-two"></div>
               </div>
               <div class="cursos-title-segundo">
                 <h5>Curso completo de CSS/HTML</h5>
                 <span class="input-group-btn">
                    <button class="btn1" type="submit">vizualizar</button>
                </span>
               </div>
             </div>
              <div class="col-md-3 wow fadeInUp" data-wow-delay="0.5s">
               <div class="cursos-curso">
                 <div class="cursos-img cursos-tre"></div>
               </div>
               <div class="cursos-title-penultimo">
                 <h5>Banco de dados</h5>
                 <span class="input-group-btn">
                    <button class="btn1" type="submit">vizualizar</button>
                </span>
               </div>
             </div>
                <div class="col-md-3 wow fadeInUp" data-wow-delay="0.5s">
               <div class="cursos-curso">
                 <div class="cursos-img cursos-for"></div>
               </div>
               <div class="cursos-title-ultimo">
                 <h5>Desenvolvimento de Aplicativos</h5>
                 <span class="input-group-btn">
                    <button class="btn1" type="submit">vizualizar</button>
                </span>
               </div>
             </div>
           </div>
          </div>
        </section>
        <!-- Curso em alta-->
        <div id="section04">
          <section class="project">
          <div class="container-fluid">
           <div class="row">
             <div class="col-md-8 section-titulo wow fadeInUp" data-wow-delay="0.4s">Cursos em alta </div>
           </div> 
           <div class="row salas">
             <div class="col-md-3 wow fadeInUp" data-wow-delay="0.5s">
              <div class="project-salas">
                <div class="project-img alta-one"></div> <!--imagem -->
              </div>
              <div class="project-title-um">
                <h5>Rede Neural Deep Learning</h5>
                <span class="input-group-btn">
                    <button class="btn2" type="submit">vizualizar</button>
                </span>
              </div>
             </div>
             <div class="col-md-3 wow fadeInUp" data-wow-delay="0.5s">
                <div class="project-salas">
                  <div class="project-img alta-two"></div> <!--imagem -->
                </div>
                <div class="project-title-dois">
                  <h5>Aprendizado de Máquina</h5>
                  <span class="input-group-btn">
                    <button class="btn2" type="submit">vizualizar</button>
                  </span>
                </div>
             </div>
              <div class="col-md-3 wow fadeInUp" data-wow-delay="0.5s">
                <div class="project-salas">
                  <div class="project-img alta-tre"></div> <!--imagem -->
                </div>
                <div class="project-title-tres"> 
                  <h5>Programação em GO</h5>
                  <span class="input-group-btn">
                    <button class="btn2" type="submit">vizualizar</button>
                  </span>
                </div>
              </div>
              <div class="col-md-3 wow fadeInUp" data-wow-delay="0.5s">
                <div class="project-salas">
                  <div class="project-img alta-for"></div> <!--imagem -->
                </div>
                <div class="project-title-quatro">
                  <h5>Programação em paralelo</h5>
                  <span class="input-group-btn">
                    <button class="btn2" type="submit">vizualizar</button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          </section>
     </div>

     </div>

</div>

