<body>
    <div class="wrapper">
      <!--- conteiner do video --->
      <div id = "section1">
        <div class="video-container">
          <video playsinline autoplay muted loop id="bgvid">
            <source src="./img/videoum.mp4" type="video/mp4">
          </video>
        </div>
        <div class="header">
          <h1>Chegou a hora de inovar o mercado de estágio</h1>
        </div>
      </div>
      <div class="content">
      <!--- conteiner de sobre --->
      <div id="section2">
        <section class="story">
          <div class="container-fluid">
            <div class="section-data">
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2 section-index wow fadeInUp" data-wow-delay="0.3s">Sobre</div>
                <div class="col-md-8 section-heading wow fadeInUp" data-wow-delay="0.4s">Nossa ideia</div>
              </div>
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-6 section-subheading wow fadeInUp" data-wow-delay="0.5s"><h1>Ter um estágio sem fronteiras, para todos os estudantes que queiram e empresas que querem inovar.</h1></div>
              </div>
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-6 section-info wow fadeInUp" data-wow-delay="0.6s">A nossa intenção e ajudar os discentes que estão na universidade e estão em busca de um estágio, mas tem obstaculos como a distância, ou ate mesmo uma chance de mostrar sua qualidade na primeira entevista de estágio.</div>
              </div>
            </div>
          </div>
        </section>
        <section class="services">
          <div class="container-fluid">
            <div class="section-data">
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2 section-index wow fadeInUp" data-wow-delay="0.3s">Vantagens</div>
                <div class="col-md-8 section-heading wow fadeInUp" data-wow-delay="0.4s">Para o estudante</div>
              </div>
              <div class="row service">
                <div class="col-md-4"></div>
                  <div class="col-md-3 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="icon">
                      <ion-icon name="globe"></ion-icon>
                    </div>
                    <div class="icon-title">
                      A onde quer que você esteja, mesmo em outra cidade, você pode participar.
                    </div>
                  </div>
                  <div class="col-md-3 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="icon">
                      <ion-icon name="home"></ion-icon>
                    </div>
                    <div class="icon-title">
                      No conforto da sua casa, podendo ter horários mais flexíveis e a chance de ser efetivado no final.
                    </div>
                  </div>
              </div>
              <div class="row service">
               <div class="col-md-4"></div>
                 <div class="col-md-3 wow fadeInUp" data-wow-delay="0.7s">
                   <div class="icon">
                     <ion-icon name="business"></ion-icon>
                   </div>
                   <div class="icon-title">
                     Para as empresas, a facilidade de contratar e conhecer melhor os seus candidatos.
                   </div>
                 </div>
                 <div class="col-md-3 wow fadeInUp" data-wow-delay="0.8s">
                   <div class="icon">
                    <ion-icon name="clipboard"></ion-icon>
                   </div>
                   <div class="icon-title">
                    Pode desenvolver mais projetos com várias equipes.
                   </div>
                 </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!--- conteiner de projetos --->
      <div id="section3">
        <section class="team">
          <div class="container-fluid">
           <div class="row">
             <div class="col-md-2"></div>
             <div class="col-md-2 section-index wow fadeInUp" data-wow-delay="0.3s">Projetos</div>
             <div class="col-md-8 section-heading wow fadeInUp" data-wow-delay="0.4s">Projeto do Mês</div>
           </div> 
           <div class="row members">
             <div class="col-md-4"></div>
             <div class="col-md-3 wow fadeInUp" data-wow-delay="0.5s">
              <div class="team-member">
                <div class="team-img team-one"></div> <!--imagem -->
              </div>
              <div class="team-title">
                <h5>Sistema de banco de dados</h5>
                <span>Empresa JM Sistemas</span>
              </div>
             </div>
             <div class="col-md-3 wow fadeInUp" data-wow-delay="0.5s">
               <div class="team-member">
                 <div class="team-img team-two"></div>
               </div>
               <div class="team-title">
                 <h5>Programação web</h5>
                 <span>Empresa Yoko</span>
               </div>
             </div>
           </div>
          </div>
        </section>
      </div>
        <!-- container de adicionar email--->
        <div id="section4">
        <section class="newsletter">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="news-data">
                  <div class="section-subheading">
                    <h1 class="wow fadeInUp" data-wow-delay="0.3s">Futuro estágiario, adicione seu email aqui, para que você fique por dentro das novidades do mercado</h1>
                  </div>
                  <div class="input-group wow fadeInUp" data-wow-delay="0.4s">
                    <input type="email" class="form-control" placeholder="Email">
                    <span class="input-group-btn">
                      <button class="btn" type="submit">Adicionar</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--- conteiner de madar msg da empresa --->
        <section class="contact">
          <div class="container-fluid">
           <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2 section-index wow fadeInUp" data-wow-delay="0.3s">Contato</div>
            <div class="col-md-8 section-heading wow fadeInUp" data-wow-delay="0.4s">Tire suas dúvidas com a gente</div>
           </div> 
           <div class="row">
             <div class="col-md-4"></div>
             <div class="col-md-6 icon-title wow fadeInUp" data-wow-delay="0.5s">Se você é um empresario, e se interresou pela nossa ideia, e quer implementar em sua empresa? Preencha as informações abaixo, que nós entraremos em contato com vocês.</div>
           </div>
           <div class="row">
             <div class="col-md-4"></div>
             <div class="col-md-6">
              <form action="" name="contact-form" id="contact-form" method="POST">
               <ul>
                 <li class="wow fadeInUp" data-wow-delay="0.6s">
                   <label for="contact-name">Nome da empresa :</label>
                   <div class="textarea">
                     <input type="text" name="contact-name" id="contact-name" value="" required>
                   </div>
                 </li>
                 <br>
                 <li class="wow fadeInUp" data-wow-delay="0.7s">
                   <label for="contact-email">E-mail :</label>
                   <div class="textarea">
                     <input type="email" name="contact-email" id="contact-email" value="" required>
                   </div>
                 </li>
                 <br>
                 <li class="wow fadeInUp" data-wow-delay="0.8s">
                   <label for="contact-project">Mensagem :</label>
                   <div class="textarea">
                    <textarea name="contact-project" id="contact-project" rows="6" required></textarea>
                   </div>
                 </li>
               </ul>
               <button type="submit" name="contact-submit" id="contact-submit" class="send wow fadeInUp" data-wow-delay="0.9s">Enviar</button>
              </form>
             </div>
           </div>
          </div>
        </section>
        <!--- contatos --->
        <div class="footer">
          <div class="container">
            <div class="info">
              <div class="row">
                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.3s" id="address">
                  <p>Empresa JM</p>
                  <h4>Av São Paulo, 1987</h4>
                  <h4>Zona 06</h4>
                  <h4>(44) 9 9084-8769</h4>
                  <br><br>
                </div>
                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.4s" id="media">
                  <ul>
                    <li><ion-icon name="logo-facebook"></ion-icon></li>
                    <li><ion-icon name="logo-instagram"></ion-icon></li>
                    <li><ion-icon name="logo-twitter"></ion-icon></li>
                    <li><ion-icon name="logo-youtube"></ion-icon></li>
                   </ul>
                   <br><br>
                </div>
                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.5s" id="mail">
                  <p>Email pra contato</p>
                  <h4>inovacaoJM@gmail.com</h4>
                  <br><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>

    </div>
</body>
